# Dependency folders
node_modules/

# Logs
logs/
*.log
*.zip
config.json
data/*.log
data/*.json

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
# Data files (do not track)
data/players.json
data/zones.json

# Log files (do not track)
logs/chat.log
logs/gchat.log
logs/group_events.log
